{% extends "base.html.j2" %}

{% block tabs %}

<st:tab code="cat" label="Ceiling Cat">
   	<h1>Ceiling Cat watches you Code</h1>
   	<img src="/favicon.ico"/>
</st:tab>
<st:tab code="hate" label="Haters gonna Hate">
   	<h1>Haters gonna Hate</h1>
   	<img src="https://www.chykwest.com/wp-content/uploads/keep-calm-cause-haters-gonna-hate-5.png"/>
</st:tab>

{% endblock tabs %}
