<html>
  <head>
    <title>Login</title>
  </head>
  <body>
      <form action="/login" method="POST">
          <table>
              <tr>
                  <td>E-Mail:</td>
                  <td><input type="text" name="userid"/></td>
              </tr>
              <tr>
                  <td>Password:</td>
                  <td><input type="password" name="password"/></td>
              </tr>
              <tr colspan="2">
                  <td align="center"><input type="submit" value="Submit"></td>
              </tr>
          </table>
          <a href="/">TRY AGAIN</a>
      </form>
  </body>
</html>
