<!DOCTYPE xhtml>

{% macro import_script(s) %}
    <script src="/jscr/{{s}}.js" type="text/javascript"></script>
{% endmacro %}

{% macro errorblock() %}
    <div id="errors" class="errors">
      {% for e in errors %}
        {% if loop.first %}
          <ul class="errorlist">
	{% endif %}
        <li class="error">{{e}}</li>
	{% if loop.last %}
	  </ul>
	{% endif %}
      {% endfor %}
    </div>
{% endmacro %}

{% macro import_maps() %}
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" type="text/javascript"></script>
    {{ import_script("map") }}
{% endmacro %}

{% macro import_graphs() %}
    {{ import_script("color") }}
    {{ import_script("graph") }}
{% endmacro %}

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:st="http://www.sweattrails.com/html">
  <head>
    {% block head %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="/css/grizzle.css"/>
    <style type="text/css">
        {% block css %}
        {% endblock css %}
    </style>
    <script src="/jscr/grit.js" type="text/javascript"></script>
    <script src="/jscr/action.js" type="text/javascript"></script>
    <script src="/jscr/request.js" type="text/javascript"></script>
    <script src="/jscr/datasource.js" type="text/javascript"></script>
    <script src="/jscr/alert.js" type="text/javascript"></script>
    <script src="/jscr/form.js" type="text/javascript"></script>
    <script src="/jscr/table.js" type="text/javascript"></script>
    <script src="/jscr/lookup.js" type="text/javascript"></script>
    <script type="text/javascript">
        {% block javascript %}
        {% endblock javascript %}
    </script>
    {% block imports %}
    {% endblock %}
    <title>
        {% block title %}
        {{app.application_name}}
        {% endblock %}
    </title>
  </head>
    <body onload="$$.run();">
        <div id="topbar" class="topbar">
            <div class="tools">
                {% block topbar %}
                    <nav>
                        <ul>
                            {% if user %}
                                <li>
                                    <a class="navitem" href="/">Home</a>
                                </li>
                                <li>
                                    <div class="navitem">{{ user.display_name|d(user.email) }}</div>
                                    <ul>
                                        <li>
                                            <a class="navitem" onclick="st_show_form('changepwd')" href="#">Change Password</a>
                                        </li>
                                        <li><a class="navitem" href="/profile">Profile</a></li>
                                        <li><a class="navitem" href="/">Settings</a></li>
                                        <li><a class="navitem" href="/logout">Logout</a></li>
                                    </ul>
                                </li>
                                <st:form name="changepwd" url="/um/changepwd" modal="true" onsubmitted="password_changed">
                                    <st:field id="oldpassword" type="password" property="oldpassword" label="Old Password" required="true"/>
                                    <st:field id="newpassword" type="password" property="newpassword" label="Password" required="true" confirm="true"/>
                                    <st:footer>
                                        <st:action mode="new" label="Change Password" action="save"/>
                                        <st:action mode="new" label="Cancel" action="cancel"/>
                                    </st:footer>
                                </st:form>
                            {% else %}
                                <li>
                                    <a class="navitem" href="/">Home</a>
                                </li>
                                <li>
                                    <a class="navitem" onclick="st_show_form('login');" href="#">Login</a>
                                </li>
                                <li>
                                    <a class="navitem" onclick="st_show_form('signup');" href="#">Sign up</a>
                                </li>
                                <st:form name="login" url="/login" modal="true" onerror="login_error">
                                    <st:field id="userid" type="text" property="userid" label="Email" required="true"/>
                                    <st:field id="password" type="password" property="password" label="Password" required="true"/>
                                    <st:field id="remember_me" type="checkbox" property="remember_me" label="Remember me?"/>
                                    <st:footer>
                                        <st:action mode="new" label="Log in" action="save" redirect="/"/>
                                        <st:action mode="new" label="I forgot my password"
                                                   action="link" href="/um/reset"/>
                                        <st:action mode="new" label="Cancel" action="cancel"/>
                                    </st:footer>
                                </st:form>
                                <st:form name="signup" url="/um/signup" modal="true" onsubmitted="signup_submitted">
                                    <st:field id="userid" type="text" property="userid" label="Email" required="true"/>
                                    <st:field id="display_name" type="text" property="display_name" label="Name" required="true"/>
                                    <st:field id="password" type="password" property="password" label="Password" required="true" confirm="true"/>
                                    <st:footer>
                                        <st:action mode="new" label="Sign up" action="save"/>
                                        <st:action mode="new" label="Cancel" action="cancel"/>
                                    </st:footer>
                                </st:form>
                            {% endif %}
                        </ul>
                    </nav>
                {% endblock topbar %}
            </div>
    	</div>
    <div id="document" class="document">
        <div id="documentwrapper" class="documentwrapper">
            <div id="mainpagewrapper" class="mainpagewrapper">
                <div class="mainpage" id="mainpage">
                    {% block pagecontent %}
                        <div id="mainpage">
                            {% block mainpage %}
                            {% endblock mainpage %}
                        </div>
                        <div class="tabbox" id="tabbox">
                        </div>
                        <div class="pagebox" id="pagebox" width="100%">
                            <div id="page_pleasewait" class="tabpage">
                                <span style="text-align: center;"><img src="/image/throbber.gif" height="32" width="32"/>&#160;Please wait</span>
                            </div>
                            <st:tabs id="tabs element">
                                {% block tabs %}
                                {% endblock tabs %}
                            </st:tabs>
                        </div>
                    {% endblock pagecontent %}
                </div>
            </div>
        </div>
        <div id="sidebarwrapper" class="sidebarwrapper">
            <div id="sidebar" class="sidebar">
                {% block sidebar %}
                    <!-- URLs: {{ urls|e }} -->
                    <!-- <p/> -->
                    {% for u in urls.urls() %}
                        {% if loop.first %}
                            <ul>
                        {% endif %}
                        <li><a class="whitelink" href="{{u.url()|e}}">{{u.label()}}</a></li>
                        {% if loop.last %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                    {% for c in urls.collections() %}
                        {% for u in c.urls() %}
                            {% if loop.first %}
                                {{c.label()}}
                                <ul>
                            {% endif %}
                            <li><a class="whitelink" href="{{u.url()|e}}">{{u.label()}}</a></li>
                            {% if loop.last %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endblock sidebar %}
            </div>
        </div>
    </div>
  </body>
</html>
