{% extends "base.html" %}

{% block tabs %}

<st:tab code="login" label="Login">
	<st:form name="login" url="/login" submit="post" onerror="login_error" mode="new">
	    <st:field id="userid" type="text" property="userid" label="Email" required="true"/>
	    <st:field id="password" type="password" property="password" label="Password" required="true"/>
	    <st:field id="remember_me" type="checkbox" property="remember_me" label="Remember me?"/>
	    <st:footer>
	        <st:action mode="new" label="Log in" action="save" redirect="/"/>
	        <st:action mode="new" label="I forgot my password" action="save"/>
	        <st:action mode="new" label="Cancel" action="cancel"/>
	    </st:footer>
	</st:form>
</st:tab>

{% endblock tabs %}

{% block topbar %}
{% endblock topbar %}


