<html>
  <head>
    <title>Login</title>
  </head>
  <body>
      <form action="/login" method="POST">
          <table>
              <tr>
                  <td><label for="userid">E-Mail:</label></td>
                  <td><input type="text" name="userid" id="userid"/></td>
              </tr>
              <tr>
                  <td><label for="password">Password:</label></td>
                  <td><input type="password" name="password" id="password"/></td>
              </tr>
              <tr>
                  <td colspan="2"><label><input type="checkbox" name="remember" value="X" id="remember"/>&nbsp;Remember me</label></td>
              </tr>
              <tr colspan="2">
                  <td align="center"><input type="submit" value="Submit"></td>
              </tr>
          </table>
          <a href="/signup">Sign me up</a> |
          <a href="/resetpwd">I forgot my password</a>
      </form>
  </body>
</html>
