<html>
	<head>
    	<title>Reset password</title>
  	</head>
	<body>
 		<h2>Reset Password</h2>
    	<form action="{{url['reset-password']}}" method="POST">
    		<table>
           		<tr>
                	<td><label for="userid">E-Mail:</label></td>
                  	<td><input type="text" name="userid" id="userid" value="{{params.get('userid')}}"/></td>
              	</tr>
              	<tr colspan="2">
                  	<td align="center"><input type="submit" value="Submit"></td>
              	</tr>
          	</table>
      	</form>
  	</body>
</html>
